html {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}


.header {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  font-weight: 400;
}
.headerTitle {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 25px;
  padding: 10px 8px 10px 14px;
  border: 2px solid #6398f2;

  border-radius: 15px;
}
.headerTitle::first-letter {
  font-size: 27px;
  font-weight: 500;
}
.secondL {
  font-size: 27px;
  font-weight: 500;
}

.iconAddSec {
  text-align: center;
  margin: 20px;
}

.p2{
  font-weight: normal;

}